{% extends 'layout.html' %}
{% block content %}
<section>
    <h2>Technical Skills</h2>
    <ul style="columns: 2; -webkit-columns: 2; -moz-columns: 2; list-style: none;">
        <li><i class="fas fa-code"></i> Python</li>
        <li><i class="fas fa-c"></i> C</li>
        <li><i class="fas fa-code"></i> C++</li>
        <li><i class="fab fa-java"></i> Java</li>
        <li><i class="fab fa-html5"></i> HTML</li>
        <li><i class="fab fa-css3-alt"></i> CSS</li>
        <li><i class="fab fa-js"></i> JavaScript</li>
        <li><i class="fas fa-database"></i> MySQL</li>
        <li><i class="fab fa-python"></i> Flask & Django</li>
        <li><i class="fab fa-github"></i> Git & GitHub</li>
    </ul>
</section>
{% endblock %}